.ipynb_checkpoints/
.DS_Store
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L2-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L1-checkpoint.ipynb
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L01 - Introduction to Data Science-checkpoint.md
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L02 - Probability-checkpoint.md
R/.ipynb_checkpoints/1_Install_R-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/LessonOneFinalProject-checkpoint.txt
dso_notebooks/Basic Statistics/Activities/.ipynb_checkpoints/L01 Final Project-checkpoint.md
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DSO101L2-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/old l2-checkpoint.ipynb
dso_notebooks/Basic Statistics/old l2.ipynb
dso_notebooks/Basic Statistics/DS101L2.ipynb
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L03 - Variable Types-checkpoint.md
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L04 - Common Descriptive Statistics-checkpoint.md
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L9-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L8-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L7-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L6-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L5-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L4-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L3-checkpoint.ipynb
