
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L2-checkpoint.ipynb
dso_notebooks/Basic Statistics/.ipynb_checkpoints/DS101L1-checkpoint.ipynb
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L01 - Introduction to Data Science-checkpoint.md
dso_notebooks/Basic Statistics/md/.ipynb_checkpoints/L02 - Probability-checkpoint.md
R/.ipynb_checkpoints/1_Install_R-checkpoint.ipynb
